<!-- Main Content ==================== -->
<div class="main-content"><div class="detail-container"><div class="form-horizontal form-detail">
  <!-- SYMPTOM DATA -->
  <div id="problemtype-detail" class="container-fluid"><div class="span12">
      <div class="form-legend">
        <div class="form-legend-title">{{ symptom.code }}</div>
      </div>
    <div class="control-group row-fluid">
      <div field-dispatcher fields="fields"></div>
      <div field-line-dispatcher fields="problems"></div>
    </div>
  <!-- END SYMPTOM DATA -->
  </div>
</div></div></div>

