<!-- Main Content ==================== -->
<div class="main-content"><div class="detail-container"><div class="form-horizontal form-detail">
  <!-- PROBLEM TYPE DATA -->
  <box-container udo-title="Problem Type Detail" container-id="problem_type_detail">
    <box-section>
      <div field-dispatcher fields="fields"></div>
    </box-section>
    <box-section>
      <div field-line-dispatcher fields="description"></div>
    </box-section>
  </box-container>
  <box-container udo-title="Affected resources"container-id="affected_resources">
    <box-section>
      <div field-line-dispatcher fields="affected_resources"></div>
    </box-section>
  </box-container>
</div></div></div>
